._3EQa7KIVsNxU4HVETS4Rmy {
    font-family: Poppins, sans-serif;
    background: #ffDDDD;
    color: #ff0000;
    padding: 20px;
}

._1_6EmBKBsGcxlq6BspToDb {
    font-family: Lato, sans-serif;
    color: #2c3332;
}

._1_6EmBKBsGcxlq6BspToDb h1,
._1_6EmBKBsGcxlq6BspToDb h2,
._1_6EmBKBsGcxlq6BspToDb h3,
._1_6EmBKBsGcxlq6BspToDb h4,
._1_6EmBKBsGcxlq6BspToDb h5,
._1_6EmBKBsGcxlq6BspToDb h6 {
    font-family: Poppins, sans-serif;
}

._1_6EmBKBsGcxlq6BspToDb pre {
    box-sizing: border-box;
    background: rgb(44, 51, 50);
    border-radius: 20px;
    padding: 1rem;
    color: white;
    width: 100%;
    overflow: auto;
    font-family: "Source Code Pro", monospace;
}

._1_6EmBKBsGcxlq6BspToDb a {
    color: #BF265E;
}

._1_6EmBKBsGcxlq6BspToDb p code {
    background: #c8d0d0;
    padding: 3px;
    border-radius: 3px;
}

._1_6EmBKBsGcxlq6BspToDb code {
    font-family: "Source Code Pro", monospace;
}

